/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

*{
    margin: 0;
    padding: 0;
}

.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.header{
    max-width: 1280px;
    margin: 0;
    border-top: 1px solid #FFF8F3;
    background-color: #FFF8F3;
    background-image: url(../assets/developer.png), url(../assets/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
    background-size: contain, 52%;
}
  
.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.btn-nav{
    background-color: #FD6E0A;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 14.8px 28.4px;
    border-radius: 4px;
    border: none;
}

.btn-contact{
    background-color: white;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 16px;
    padding: 15.2px 18.4px 14.4px 19.2px;
    border-radius: 4px;
    border: 1px solid #FD6E0A;
}

.btn-download{
    background-color: #FD6E0A;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 15.2px 13.6px 14.4px;
    border-radius: 4px;
    border: none;
    margin-right: 24px;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 35.2px 204.8px 0 160px;
}

.nav-title{
    font-weight: 800;
    font-size: 36px;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-size: 16px;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 123.2px 51.2px 0 163.2px;
}

#image-container{
    width: 467.2px;
    height: 540.8px;
    /* border: 1px solid black;   */
}

#image-container img{
    width: 100%;
    height: 100%;
}

.banner-content{
    max-width: 468px;
}

.banner-greetings{
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 4px;
}

.banner-title{
    font-weight: 700;
    font-size: 68px;
    margin-bottom: 16px;
}

.banner-description{
    font-weight: 400;
    font-size: 14.4px;
    margin-bottom: 24px;
}

.about-me-section{
    max-width: 1280px;
}

.about-me-box-outer{ 
    max-width: 912px;                      
    margin: 104px auto;
    /* padding: 104.8px 124.8px; */
    background-color: #FFF8F3;
    border: 1px solid #FFF8F3;
}

.about-me-box{
    max-width: 661.6px;
    margin: 104.8px 124.8px;
    background-color: white;
    border: 1px solid black;
}

.about-me-heading{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 24px;
}

.about-me-description{
    font-weight: 400;
    font-size: 14.4px;
    text-align: center;
    margin-bottom: 24px;
}

.about-me-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-me-title{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    /* margin: 40px; */
}

.about-me-info{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    /* margin-left: 40px; */
}

.what-i-do-section{
    max-width: 1280px;
    /* margin: 0 184px; */
    background-color: white;
    border: 1px solid white;
}

.what-i-do-description{
    margin: 0 276px;
    margin-bottom: 40px;
}

#skills-container{
    margin: 0 104px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 19.2px;
    margin-bottom: 104px;
}

.skills{
    /* width: 213.6px;
    height: 301.6px; */
    padding: 30px;
    /* border: 1px solid black; */
    border-radius: 4px;
    box-shadow: 0px 4.8px 40px 0 rgba(0, 0, 0, 6%);
}

.skills img{
    width: 35.2px;
    height: 35.2px;
    margin-bottom: 24px;
}

.skill-title{
    text-align: left;
    margin-bottom: 16px;
}

.skill-description{
    text-align: left;
}

.resume-section{
    max-width: 1280px;
    background-color: white;
    border: 1px solid white;
}

.resume-container{
    display: flex;
    gap: 19.2px;
    margin: 66.4px 184px 40px;
}

.edu-exp-title{
    margin: 24px 0 8px;
}

.edu-exp-sub-title{
    margin-bottom: 16px;
}

.edu-exp-description{
    margin-bottom: 24px;
}

hr{
    color: #D1D1D1;
}

#btn-resume{
    text-align: center;
}